**/.dart_tool/
**/build/
**/.gradle/
**/.idea/
**/.tmp_appdata/
**/.pub-cache/
**/.pub/
**/coverage/
**/doc/api/
**/key.properties
**/local.properties
**/*.jks
**/*.keystore
**/*.p12
**/*.pem
**/*.key
**/google-services.json
**/GoogleService-Info.plist
**/.env
**/*.env
*.class
*.log
*.pyc
*.swp
*.iml
.DS_Store
